---
import BaseLayout from '../layouts/BaseLayout.astro';
import Counter from '../components/Counter';
---

<BaseLayout title="Domovská stránka">
	<div class="text-center p-8">
    <h1 class="text-5xl font-bold text-amber-400">
      Vítejte na stránkách tanečního studia Danceline!
    </h1>
    <h2>AHOOOOJ</h2>
    <p class="text-xl mt-4 text-slate-300">
      Tohle je naše první stránka vytvořená v Astro a nastylovaná pomocí Tailwind CSS.
    </p>

    <Counter client:load />
  </div>
</BaseLayout>